<h3>Title: <%= @blog.title %></h3>
<h4>Description: <%= @blog.body %></h4>

<%= form_for [@comment] do |f| %>
  <p><%= f.label :body %></p>
  <p><%= f.text_area :body, :size => "50X20" %></p>
  <p><%= f.submit %></p>
<% end %>
