<h3><%= @blog.title %></h3>
<h4><%= @blog.body %></h4>

<p><%= link_to "Return to Posts", blogs_path,
       class: "left btn btn-default btn-xs" %></p>

<p><%= link_to "Edit", edit_blog_path(@blog),
       class: "index btn btn-warning btn-xs", remote: true %></p>

<p><%= link_to "Delete", blog_path(@blog), class: "index btn btn-danger btn-xs",
       :data => { :confirm => "You sure?", :method => "Delete" }%></p>
