<h3>Title: <%= @blog.title %></h3>
<h4>Description: <%= @blog.body %></h4>

<p><%= link_to "Add Comment", new_blog_comment_path(blog), id: "comment_link", remote:true %></p>
<p><%= link_to "Edit", edit_blog_path(@blog) %></p>
<p><%= link_to "Delete", blog_path(@blog),
       :data => { :confirm => "You sure?", :method => "Delete" }%></p>
<p><%= link_to "Return to Posts", blogs_path %></p>
