<h3>Body: <%= @recommendation.body %></h3>
<h3>Name: <%= @recommendation.name %></h3>
<h3>Company: <%= @recommendation.company %></h3>

<p><%= link_to "Delete", recommendation_path(@recommendation),
       class: "btn btn-danger btn-xs",
       :data => { :confirm => "You sure?", :method => "Delete" }%></p>
<p><%= link_to "Return to Recommendations", recommendations_path,
       class: "btn btn-default btn-xs" %></p>
