<% content_for(:title, "Portfolio") %>
<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/skills">Skills</a></li>
<% end %>

<h1><%= @skill.name %></h1>
<h2><%= @skill.description %></h2>

<% if @skill.projects.any? %>
  <h4>Here are all the projects I completed using this skill:</h4>
  <ul>
    <% @skill.projects.each do |project| %>
      <li>
        <%= project.name %>
        <%= project.description %>
        <%= link_to "Edit", edit_skill_path(@skill, project) %>
        <%= link_to "Delete", skill_path(@skill, project),
                                 :data => { :confirm => "You sure?",
                                            :method => "Delete" }%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No projects have been described yet!</p>
<% end %>

<p><%= link_to "Edit", edit_skill_path(@skill) %></p>
<p><%= link_to "Delete", skill_path(@skill),
                         :data => { :confirm => "You sure?",
                                    :method => "Delete" }%></p>
<p><%= link_to "Return to skills", skills_path %></p>
