<h1>Skill: <%= @skill.name %></h1>
<span><h2>Description: <%= @skill.description %></h2>
      <%= link_to "Add Project", new_skill_project_path(@skill),
          class: "index btn btn-success btn-xs" %></span>

<% if @skill.projects.any? %>
  <h4>Here are all the projects I have completed using this skill:</h4>
  <ul>
    <% @skill.projects.each do |project| %>
      <li>
        <%= link_to project.name, skill_project_path(@skill, project) %> |
        <%= project.description %> |
        <a href="<%= project.project_link %>">
        <%= project.project_link %></a>
      </li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>No projects have been described yet!</p>
<% end %>

<p><%= link_to "Edit", edit_skill_path(@skill),
       class: "index btn btn-warning btn-xs", remote: true %></p>

<p><%= link_to "Delete", skill_path(@skill),
       class: "index btn btn-danger btn-xs", :data => { :confirm => "You sure?",
                                                  :method => "Delete" }%></p>

<p><%= link_to "Return to Skills", skills_path,
       class: "left btn btn-default btn-xs" %></p>
