<h1><%= @project.name %></h1>
<h2><%= @project.description %></h2>
<h4><a href="<%= @project.project_link %>"><%= @project.project_link %></a></h4>

<br>

<p><%= link_to "Edit", edit_skill_project_path(@skill, @project) %></p>
<p><%= link_to "Delete", skill_project_path(@skill, @project),
                         :data => { :confirm => "You sure?",
                                    :method => "Delete" }%></p>
<p><%= link_to "Return to Skills", skills_path %></p>
