<br>
  <div class="row">
    <div class="left col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
      <li>
        <p><%= reference.name %></p>
        <p><%= reference.company %></p>
        <p><%= reference.contact %></p>
    </div>
    <div class="right col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <%= link_to "Edit Reference", edit_reference_path(reference),
          class: "btn btn-warning btn-xs", id: "index_edit_reference",
          remote: true %>
      <%= link_to "Delete", reference_path(reference),
          class: "btn btn-danger btn-xs", id: "index_delete_reference",
          :data => { :confirm => "You sure?", :method => "Delete" } %>
      </li>
    </div>
  </div>
<br>
